body {
  background-color: #ecf3ff;
}

main {
  max-width: 1140px;
  margin: auto;
  height: 100vh;
}

header {
  padding: 43px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.logo__img {
  width: 45px;
  height: 40px;
}

.logo__text {
  font-size: 32px;
}

.menu {
  display: inline-flex;
  gap: 50px;
}

.menu__item {
  font-size: 18px;
  color: #05060a;
  cursor: pointer;
}

.menu__item:hover {
  text-decoration: underline;
  color: red;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 38px;
}

.details__image {
  width: 40%;
}

.dim__image {
  height: 662px;
  width: 488px;
}

.details__content {
  width: 60%;
}

.title {
  font-weight: 600;
  font-size: 72px;
  line-height: 128%;
  letter-spacing: 0.01em;
}

.detail {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #5d616f;
}

.btn__group {
  margin-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
}

.btn__primary {
  background-color: #3e82fc;
  color: white;
  border-radius: 40px;
  padding: 15px 40px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 60px rgba(62, 130, 252, 0.35);
}

.btn__secondary {
  border: 1px solid #3e82fc;
  background-color: transparent;
  color: #3e82fc;
  border-radius: 40px;
  padding: 15px 40px;
}
